



@page {
margin: 1in;
}
#pmc-img {
	position:fixed;
	top: 476 px;
	left: 16 px;
	height: 80 px;
	width: 240 px;
}
#minestatus-img {
	position: fixed;
	top: 251 px;
	height: 150 px;
	left: 16 px;
	width: 480 px;
}
#mc-server-list-img {
	position: fixed;
	top: 140 px;
	height: 101 px;
	left: 16 px;
	width: 480 px;
}
#minecraftservers-org-img {
	position: fixed;
	height: 55 px;
	top: 411 px;
	left: 16 px;
	width: 471 px;
}
#mcservers-org-img {
	position: fixed;
	top: 476 px;
	left: 300 px;
	height: 80 px;
	width: 80 px;
}